<div class="landing">

  <!-- Header -->
  <header>
    <div class="background text-center">
      <div class="container-l">
        <div class="intro-text">
          <div class="intro-heading">Music Education For All</div>
          <div class="intro-lead-in">Find an ideal music teacher, near you.</div>
          <a href="#contact" class="page-scroll btn btn-xl">Join The Muzed</a>
        </div>
      </div>
    </div>
  </header>

  <!-- For Students -->
  <!-- the three columns are linked to "porfolioModal 4-6" -->

  <section id="portfolio">
    <div class="container-l">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">For Students</h2>
          <h3 class="section-subheading text-muted">A simple and free way to find a certified music teacher</h3>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="<%= asset_path 'search.png' %>" class="img-responsive" alt="search for a music teacher">
          </a>
          <div class="portfolio-caption">
            <h4>Search</h4>
            <p class="text-muted">Three easy steps to search for a music teacher in your neighbourhood.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="<%= asset_path 'select.png' %>" class="img-responsive" alt="select your preferred teacher">
          </a>
          <div class="portfolio-caption">
            <h4>Select</h4>
            <p class="text-muted">Select and compare. Refine your search with distance, budget, level and more.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="<%= asset_path 'decide-crop.png' %>" class="img-responsive" alt="contact the teacher and decide">
          </a>
          <div class="portfolio-caption">
            <h4>Decide</h4>
            <p class="text-muted">Have a look of your favourite teacher full profile. Ask a question if you like!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- For Teachers -->
  <section id="forteachers" class="bg-gradient">
    <div class="container-l">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">For Teachers</h2>
          <h3 class="section-subheading text-muted">Growing your teaching business has never been easier with The Muzed Teacher Online Portal</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
                      <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                      </span>
          <h4 class="service-heading">Showcase</h4>
          <p class="text-muted">Showcase yourself by creating a FREE teacher profile and get more students in your area.</p>
        </div>
        <div class="col-md-4">
                      <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                      </span>
          <h4 class="service-heading">Teach</h4>
          <p class="text-muted">You just focus on teaching while we handle the rest of the admin headaches.</p>
        </div>
        <div class="col-md-4">
                      <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                      </span>
          <h4 class="service-heading">Get Paid</h4>
          <p class="text-muted">You are paid every week by electronic fund transfer once the lessons are conducted. We believe that teachers should get at least 80% of commission!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section id="about">
    <div class="container-l">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Benefits</h2>
          <h3 class="section-subheading text-muted">Why choose The Muzed?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="<%= asset_path '1.png' %>" alt="availability icons">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Simple</h4>
                  <h4 class="subheading">Set Your Availability</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">You set your schedule and choose where to have lessons - your place, or teacher's studio. The Muzed is even able to arrange a commmon ground for your lessons. </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="<%= asset_path '2.png' %>" alt="tool icons">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Tools</h4>
                  <h4 class="subheading">Student and Teacher Online Portal</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Online portal for both teachers and students where you can mark attendance, view payment history, manage your schedule, and many others. No more admin headaches, convenience in your hand! </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="<%= asset_path '3.png' %>" alt="music teachers screening">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Secure</h4>
                  <h4 class="subheading">Teachers Are Verified</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Teachers will have few verification processes conducted by The Muzed. We verify their qualification and their certificates, while their backgrounds are checked too.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="<%= asset_path '4.png' %>" alt="guaranteed music lessons">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Guaranteed</h4>
                  <h4 class="subheading">Flexible Refund Policy</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">If you are not 100% satisfied with your lesson, we will help you find a new teacher at no extra cost or refund any unused lesson credit!</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4><br>Notify Me</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <!-- Contact Section -->
  <section id="contact">
    <div class="container-l">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Coming Soon</h2>
          <h3 class="section-subheading text-muted">Teachers and potential learners, just enter your email here and we will put you in our early access list!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form action="https://themuzed.us13.list-manage.com/subscribe/post?u=e80a607928f8143cc50636ee1&amp;id=d9124f9114" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                  <input type="email" name="EMAIL" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>

              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e80a607928f8143cc50636ee1_d9124f9114" tabindex="-1" value=""></div>
                <button type="submit" class="btn btn-xl">Notify Me</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container-l">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; TheMuzed 2016</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/themuzed" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="https://www.facebook.com/themuzed/" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="https://www.instagram.com/themuzed/" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li><a href="Javascript:void(0)">Coming Soon</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>




  <!-- Portfolio Modals -->
  <!-- Use the modals below to showcase details about your portfolio projects! -->

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container-l">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Search</h2>
              <p class="item-intro text-muted">Search for a music teacher in your neighbourhood.</p>
              <img class="img-responsive img-centered" src="<%= asset_path 'search.png' %>" alt="first step to search">
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container-l">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Select</h2>
              <p class="item-intro text-muted">Select and compare. Refine your search with distance, budget, level and more.</p>
              <img class="img-responsive img-centered" src="<%= asset_path 'select.png' %>" alt="Second step to select a music teacher">
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container-l">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Decide</h2>
              <p class="item-intro text-muted">Have a look of your favourite teacher full profile. Ask a question if you like!</p>
              <img class="img-responsive img-centered" src="<%= asset_path 'decide-crop.png' %>" alt="third step to decide a teacher">
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
